ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 200px; */
}

.sidebar li a {
  display: block;
  color: black;
  padding: 1vh 0px;
  margin: 2vh;
  text-decoration: none;
  text-align: center;
  font-size: 8vh;
  box-shadow: 0.3vh 0.3vh 2vh #000000;
}

/* Change the link color on hover */
.sidebar li a:hover {
  background-color: rgb(64, 64, 64);
  color: white;
  overflow-x: hidden;
  box-shadow: none;
}

body {
  background-color: rgb(64, 64, 64);
  margin: 0;
  overflow-x: hidden;
  font-size: 24px;
}

canvas {
  margin: 2%;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0.3vh 0.3vh 2vh #000000;
}

#Lobby li a
{
  display: block;
  color: black;
  padding: 10px 0px;
  text-decoration: none;
  text-align: left;
}

#Lobby li a:hover
{
  background-color: rgba(69, 69, 69, 10);
  color: white;
  overflow-x: hidden;
}

.sidebar {
  display: block;
  width: 25%;
  float: left;
  overflow-x: hidden;
  padding-top: 10vw;
}

#scoreboard {
  background-color: rgb(64,64,64);
  color:lightgray;
  margin: 2vh;
  box-shadow: 0.3vh 0.3vh 2vh #000000;
}


.main {
  display: block;
  width: 50%;
  float: left;

  font-size: 24px;
}

#Lobby {
  padding: 10px 0px;
  border-style: solid;
  border-color: black;
  width: 40vw;
  height: 80vh;
  overflow: scroll;
}

#history {
  box-shadow:black;
  height: 20vh;
  border-style: solid;
  overflow: scroll;
}

input {
  font-size: 24px;
}
/* 
.createform
{
  padding-top: 10vw;
} */