<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latrunculi</title>
    <link href="/styles.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="header"></div>
    <div class="sidebar">
      <ul>
        <li><a href="/">Lobby</a></li>
      </ul>
    </div>
    <div class="main">
      <center>
        <h1>Latrunculi</h1>
        <h2>My Games</h2>
        <div id="Lobby">
          
        </div>
      </center>
    </div>
    <div class="sidebar">
      <form action="/creategame/" method="post" class="createform">
        <ul>
          <li>
            <label for="game_name">Enter name: </label>
          </li>
          <li>
            <input
              id="game_name"
              type="text"
              name="name_field"
              value="Friendly game"
            />
          </li>
          <li>
            <label for="Rules">Rules: </label>
          </li>
          <li>
            <select id="Rules" name="rules" value="Amboss">
              <option value="Latrunculi">Latrunculi</option>
              <option value="Amboss">Amboss</option>
            </select>
          </li>
          <li>
            <label for="height">width: </label>
          </li>
          <li>
            <input id="width" type="number" name="width_field" value="8" />
          </li>
          <li>
            <label for="height">height: </label>
          </li>
          <li>
            <input id="height" type="number" name="height_field" value="8" />
          </li>
          <li>
            <label for="YourColor">Your color: </label>
          </li>
          <li>
            <select id="Rules" name="rules" value="Amboss">
              <option value="Latrunculi">White</option>
              <option value="Amboss">Black</option>
              <option value="Amboss">Random</option>
            </select>
          </li>
          <!-- <li>
            <label for="edge">edge capture: </label>
            <input
              id="edge"
              type="checkbox"
              name="edge_field"
              value="true"
            />
          </li>
          <li>
            <label for="placement">placement phase: </label>
            <input
              id="placement"
              type="checkbox"
              name="placement_field"
              value="true"
            />
          </li> -->
        </ul>
        <br>
        <input type="submit" value="create game" />
      </form>
    </div>

    <script>
        const socket = io();
        const gamelist = document.getElementById("Lobby");

        function getCookie(cname) {
          let name = cname + "=";
          let decodedCookie = decodeURIComponent(document.cookie);
          let ca = decodedCookie.split(";");
          for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == " ") {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }
        console.log("loaded script");
        socket.on("mygamelistupdate", (data) => {
        console.log("gamelist update event");
        console.log(data.gamelist)
        let content = "<ul>"
        data.gamelist.forEach(game => {
            content += "<li><a href='" +game.link +"'> " + game.name +"</a></li>";
            
        });
        gamelist.innerHTML = content + "</ul>";
        console.log(gamelist.innerHTML);
        })
        socket.emit("getmygames", {playerID: getCookie("playerID")});
      </script>
  </body>
</html>
